:root{
    --branco-princial:#FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito: #3c92fa;
    --font-principal: "Inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-princial);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    color: var(--branco-princial);
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-princial);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem{
    width: 80%;
}

.descricao__titulo{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.container__descricao{
    padding: 2em;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
}

.dispositivos__lista{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 5em 0;
}

.dispositivos__item h3{
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}

.rodape{
    text-align: center;
}

.rodape__logo{
    margin-bottom: 1.5em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1rem 0;
}

.lista__link a{
    color: var(--branco-princial);
    text-decoration: none;
    margin: 1.5em;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: purple;
}

.rodape__texto{
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 2em 0;
}