.cabecalhoPrincipal .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
    width: 23%;
}   

.videoSobre .container{
    display: flex;
}
.videoSobre-video{
    flex-grow: 1;
    flex-shrink: 2;
}

.videoSobre-sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 2;
}

.videoSobre-sobre-list{
    flex-grow: 1;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-flow: column wrap;
    height: 260px;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

/* PARTE MOBILE */

@media(max-width:768px){
    .cabecalhoPrincipal-nav{
        flex-direction: column;
    }
    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .cabecalhoPrincipal-nav-link-app{
        order: -1;
    }

    .videoSobre .container{
        flex-direction: column;
    }
    .videoSobre-video{
        margin: 0 auto;
    }
    
    .rodapePrincipal-navMap-list{
        display: flex;
        flex-flow: column wrap;
        height: auto;
    }
    .conteudoPrincipal-cursos-link{
        width: 100%;
    }   
    
    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
    }
    
    .rodapePrincipal-patrocinadores-list{
        width: 100%;
    }

    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }
}